body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.room-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

.players-list {
    margin-bottom: 20px;
}

.players-list h2 {
    color: #555555;
    margin-bottom: 10px;
}

#players {
    list-style-type: none;
    padding: 0;
}

#players li {
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}

#start-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#start-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#start-button:hover:not(:disabled) {
    background-color: #45a049;
}

#leave-button {
    margin-top: 50px;
    background-color: #bb4a4a;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}